<div data-tag="input-container"  class="mb-2 bg-gray-600 flex flex-col py-1.5 rounded-lg border-2 px-4 border-blue-900 cursor-text h-16 items-center justify-center transition-all duration-200">
  <label for="{{id}}" class="text-gray-50 font-normal mb-0.5 self-start text-xl cursor-text text- transition-all duration-200">{{label}}</label>
  <input type="{{type}}" id="{{id}}" name="{{name}}" class=" h-0 w-full appearance-none bg-transparent my-0.5 text-gray-50 leading-tight focus:outline-none focus:shadow-outline  ease-in-out text-base" {{#if required}}required{{/if}} autocomplete="off">
</div>
